.profile__edit-button {
  border: 1px solid white;
  background-color: #000;
  background: url(../../../images/edit.png) center no-repeat;
  background-size: 10px;
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-left: 18px;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    position: absolute;
    top: 9px;
    right: -28px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}