.footer {
  margin: 0 auto 60px auto;
}

@media screen and (max-width: 879px) {
  .footer {

  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    margin-bottom: 36;
  }
}